#formRegistro{
    width: 100px;
    height: 200px;
}
#nombre_usuario{
    border-color: green;
}
#usuario{
    border-color: green;
}
#password_usuario{
    border-color: green;
}
#telefono_usuario{
    border-color: green;
}
#direccion_usuario{
    border-color: green;
}
#correo_usuario{
    border-color: green;
}
#confirmacion_usuario{
    border-color: green;
}
#Registerbutton{
    width: 50px;
    height: 30px;
}
* {
    padding: 0;
    margin: 0;
  }
  p {
    margin-bottom: 20px;
  }
  .wrapper {
    width: 80%;
    margin: auto;
    overflow:hidden;
  }
  #nav_bar {
    background: rgba(0,0,0,0.9);
    width: 100%;
    position: fixed;
    z-index: 10;
  }
  
  nav {
    float: left; /* Desplazamos el nav hacia la izquierda */
  }
  nav ul {
    list-style: none;
    overflow: hidden; /* Limpiamos errores de float */
  }
  nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  nav ul li a {
    display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
    padding: 20px;
    color: #fff;
    text-decoration: none;
  }
  nav ul li:hover {
    background: #4040ff;
  }

  #Registerbutton{
    width: 50px;
    height: 30px;
    font-size: 10px;
}

#divBotonIrRegistro{
  padding-top: 60px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}
  .contenido {
    padding-top: 80px;
  }
#generalidades1{
  width:200px;
  height:55px;
  border-radius: 10px;
}
#generalidades2{
  width:200px;
  height:55px;
  border-radius: 10px;
}

div button:hover{
  background: #4040ff;
}